<!DOCTYPE html>
<head> 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
	<script src="/assets/js/request.js"></script>
	<title>API tests</title>
</head>
<body ng-app='requestApp'>
	<div ng-controller='requestCtrl'>
		<h1>Get by Id</h1>
		<input type='text' ng-model='id'>
		<input type='button' ng-click='getRecipe(id)' value='Get Recipe'>
		<div id='recipe'>
		</div>
		<h1>Search</h1>
		<input type='text' ng-model='ing1'>
		<input type='text' ng-model='ing2'>
		<input type='button' ng-click='search(ing1, ing2)' value='Search'>
		<div id='search'>
		</div>
	</div>
</body>
</html>
