<div id="sidebar-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <img id="logo" src="/assets/img/logoonwhite.jpg">
      <!--Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h4>Search</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form class="input-group"  ng-submit="addIngredient(ingredientInput)">
	<input type="text" class="form-control" placeholder="Add ingredient..." ng-model="ingredientInput">
      </form>
    </div>
  </div>
  <div style="margin:10px">
    <div class="col-sm-4 col-sm-offset-3">
      <button class="btn btn-primary" ng-click="search()">Search</button>
    </div>
  </div>
  <div id="ingredientList" class="col-sm-12">
    <ul>
      <li ng-repeat="ingredient in ingredients"><input type='button' ng-click="removeIngredient(ingredient)" value="x">{{ingredient}}</li>
    </ul>
  </div>
</div>
