<div class="panel ">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <!-- Image -->
                <img src="/assets/img/grilled-cheese.jpg" alt="Grilled Cheese-y!!!" height="130" width="150">
            </div>
            <div class="col-md-8">
                <h3>Grilled Mac & Cheese Sandwich</h3>
                BOOM BABEH!
            </div>
            <div class="col-md-2">
                Try it with:
            </div>
        </div>
    </div>
</div>